/* style applied to the entire page */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* style applied specifically to the textboxes 'enter event here' */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  height: -webkit-fill-available;
}
/* style applied to the top of page, 'work day scheduler' */
.jumbotron {
  text-align: center;
  background-color: #606C38;
  color: #DDA15E;
  border-radius: 0;
  border-bottom: 10px solid #DDA15E;
}
/* style applied to the p elements in the jumbotron */
.jumbotron p {
  color: white;
}

.description {
  white-space: pre-wrap;
}
/* style applied to each hour container */
.time-block {
  text-align: center;
  border-radius: 15px;
}
/* style applied to each hour container  */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
/* style that applies to the box that contains 9am, 10am, etc */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  height: -webkit-fill-available;
}
/* style that applies to the text box of any hours that have passed */
.past {
  background-color: wheat;
  color: black;
}
/* style that applies to the text box of the current hour  */
.present {
  background-color:#bc6c25;
  color: white;
}
/* style that applies to the text box of any hours yet to pass */
.future {
  background-color:#A65831;
  color: white;
}
/* style applied to the save buttons on each time block  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #283618;
  color: #DDA15E;
  height: -webkit-fill-available;
}
/* hover effects for button  */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.legend {
  display: flex;
  padding-top: 3px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin: 0 20% 0 20%;
  font-weight: 800;
}

.pastHr {
  background-color: wheat;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

.currentHr {
  background-color: #bc6c25;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.futureHr {
  background-color: #A65831;
  color: white;
  padding: 5px;
  border-radius: 10px;
}